@Html.Partial("_BrowseHeader")

<div id="file-content">
	<h4 class="ui top attached header" id="repo-read-file">
		<i class="file text outline icon ui left"></i>
		<strong>@Model.Name</strong> <span class="text grey normal">@Model.Size</span>
		<div class="ui right">
			<div class="ui small grey basic buttons">
				<a class="ui button" href="{{.RepoLink}}/src/{{.CommitID}}/{{EscapePound .TreeName}}">Permalink</a>
				<a class="ui button" href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}/{{EscapePound .TreeName}}">History</a>
				<a class="ui button" href="{{EscapePound .FileLink}}">Raw</a>
			</div>
		</div>
	</h4>
	<div class="ui attached table segment">
		<div class="file-view code-view has-emoji">
			@if (!Model.IsContentText) {
				<div class="view-raw ui center">
					{{if .IsImageFile}}
						<img src="{{EscapePound .FileLink}}">
					{{else if .IsPDFFile}}
						<iframe width="100%" height="600px" src="/Public/plugins/pdfjs-1.4.20/web/viewer.html?file={{EscapePound .FileLink}}"></iframe>
					{{else}}
						<a href="{{EscapePound .FileLink}}" rel="nofollow" class="btn btn-gray btn-radius">View Raw</a>
					{{end}}
				</div>
			} else if (Model.Size != 0) {
				<table>
					<tbody>
						<tr>
							<td class="lines-num"></td>
							<td class="lines-code"><pre><code class="@Model.HighlightClass"><ol class="linenums">@Model.ContentText</ol></code></pre></td>
						</tr>
					</tbody>
				</table>
			}
		</div>
	</div>
</div>

@Html.Partial("_BrowseFooter")