@Html.Partial("_BrowseHeader")

@{
	var RawLink = Util.CreateRawLink(ViewBag.BranchOrVersion, ViewBag.Path);
}

<div id="file-content">
	<h4 class="ui top attached header" id="repo-read-file">
		<i class="file text outline icon ui left"></i>
		<strong>@Model.Name</strong> <span class="text grey normal">@Util.FormatSize(Model.Size)</span>
		<div class="ui right">
			<div class="ui small grey basic buttons">
				<a class="ui button" href="#">Blame</a>
				<a class="ui button" href="#">History</a>
				<a class="ui button" href="@RawLink">Raw</a>
			</div>
		</div>
	</h4>
	<div class="ui attached table segment">
		<div class="file-view code-view has-emoji">
			@if (!Model.IsContentText) {
				<div class="view-raw ui center">
					@if (Model.IsContentImage) {
						<img src="@RawLink">
					} else if (Model.IsContentPDF) {
						<iframe width="100%" height="600px" src="/Public/plugins/pdfjs-1.4.20/web/viewer.html?file=@RawLink"></iframe>
					} else {
						<a href="@RawLink" rel="nofollow" class="btn btn-gray btn-radius">View Raw</a>
					}
				</div>
			} else if (Model.Size != 0) {
				<table>
					<tbody>
						<tr>
							<td class="lines-num"></td>
							<td class="lines-code"><pre><code class="@Model.HighlightClass"><ol class="linenums">@Model.ContentText</ol></code></pre></td>
						</tr>
					</tbody>
				</table>
			}
		</div>
	</div>
</div>

@Html.Partial("_BrowseFooter")