@*<h4 class="ui top attached header">
	@ViewBag.BranchOrVersion
	{{if .PageIsCommits}}
		<div class="ui right">
			<form action="{{.RepoLink}}/commits/{{.BranchName}}/search">
				<div class="ui tiny search input">
					<input name="q" placeholder="{{.i18n.Tr "repo.commits.search"}}" value="{{.Keyword}}" autofocus>
				</div>
				<button class="ui black tiny button" data-panel="#add-deploy-key-panel">{{.i18n.Tr "repo.commits.find"}}</button>
			</form>
		</div>
	{{else if .IsDiffCompare}}
		<a href="{{$.CommitRepoLink}}/commit/{{.BeforeCommitID}}" class="ui green sha label">{{ShortSha .BeforeCommitID}}</a> ... <a href="{{$.CommitRepoLink}}/commit/{{.AfterCommitID}}" class="ui green sha label">{{ShortSha .AfterCommitID}}</a>
	{{end}} 
</h4>*@

<div class="ui table segment">
	<table class="ui very basic striped fixed table single line" style="table-layout:fixed" id="commits-table">
		<tbody>
			@{ var isFirst = true; }
			@foreach (var version in Model.Versions) {
				<tr>
					@if (isFirst) {
						@* Render graph in its own cell, but with abs/rel positioning so it doesn't expand the table *@
						isFirst = false;
						<td rowspan="999999" style="vertical-align:top; padding:0px; border:0px; margin:0px position:relative">
							<div style="position:absolute">
								@Html.Raw(Model.VersionGraph.Svg)
							</div>
						</td>
					}

					<td style="width:@(Model.VersionGraph.Width)px">
						@* Spacing for graph *@
					</td>
					
					<td class="four wide author">
						<img class="ui avatar image" src="@Util.GravatarLink(version.Author)" alt=""/>&nbsp;&nbsp;@version.Author
					</td>
					
					<td class="nine wide message collapsing has-emoji">
						<a rel="nofollow" class="ui sha label" href="@Util.CreateVersionLink(version.ID)">@Util.ShortGuid(version.ID)</a>
						@if (false) {
							<span class="grey text">@version.Message</span>
						} else {
							<span>@version.Message</span>
						}
					</td>
					<td class="three wide right aligned grey text">@Util.ApproxRelativeTime(version.Timestamp)</td>
				</tr>
			}
		</tbody>
	</table>
</div>

	
@helper PageHref(int page) {
	@string.Format("/{0}/{1}/{2}?page={3}", 
		ViewBag.RepoTab,
		ViewBag.BranchOrVersion,
		ViewBag.Path,
		page);
}

@if (Model.PageNumber == 1 && Model.PageCount > 1) {
	@* Show "More..." button since PageCount may not be accurate
	   from first page *@
	<div class="center page buttons">
		<div class="ui borderless pagination menu">
			<a class="item" href="@PageHref(2)">More...</a>
		</div>
	</div>

} else if (Model.PageCount > 1) {

	<div class="center page buttons">
		<div class="ui borderless pagination menu">
			@* Prev *@
			<a class="item" href="@PageHref(Model.PageNumber - 1)">
				<i class="left arrow icon"></i> Previous
			</a>

			@* Numbers *@
			@for (int i = 1; i <= Model.PageCount; ++i) {
				@if (i == Model.PageNumber) {
					<a class="active item">@i</a>
				} else {
					<a class="item" href="@PageHref(i)">@i</a>
				}
			}

			@* Next *@
			@if (Model.PageNumber == Model.PageCount) {
				<a class="item active">
					Next <i class="icon right arrow"></i>
				</a>
			} else {
				<a class="item" href="@PageHref(Model.PageNumber + 1)">
					Next <i class="icon right arrow"></i>
				</a>
			}
		</div>
	</div>
}