@Html.Partial("Shared/_Header")
<div class="repository commits">
	@Html.Partial("Shared/_RepoTabs")
	<div class="ui container">
		<div class="ui secondary menu">
			@Html.Partial("Shared/_BranchSelect")
			@Html.Partial("Shared/_PathBreadcrumb")
		</div>
		@Html.Partial("_VersionTable", Model)
	</div>
</div>
@Html.Partial("Shared/_Footer")